{% extends 'base.html' %}

{% block title %}Articles list{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Article
        <span class="tag tag-default tag-pill pull-xs-right">
            {{ article.id }}.
        </span>
    </div>
    <div class="card-block">
        <h4 class="card-title">{{ article }}</h4>
            <dl>
                <dt>id: </dt>
                <dd>{{ article.id }}</dd>
                <dt>name: </dt>
                <dd>{{ article.name }}</dd>
            </dl>
        <a href="{% url 'articles' %}" class="btn btn-outline-primary">Back</a>
        <button class="btn btn-outline-danger pull-xs-right" disabled>
            Delete
        </button>
    </div>
</div>
{% endblock %}